<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tema">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInSystem.LogInSystemActivity"></activity>
        <activity android:name=".LogInSystem.RegisterActivity" />
        <activity android:name=".LogInSystem.LogInActivity" />
        <activity
            android:name=".LogInSystem.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".PieceDataBase.DataBaseContent" />
        <activity android:name=".PieceDataBase.DataBaseActivity" />
        <activity android:name=".FileIOActivity" />
        <activity android:name=".SendActivity" />
        <activity android:name=".CountActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>